.listingcard {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  border: 2px solid black;
  margin: 2%;
}

.listingcardTitle {
  color: #47525e;
  text-align: left;
  font-weight: bold;
}

.listingcardTitle:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.listingcardDate {
  color: #47525e;
  float: right;
}

.listingcardUser {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.listingcardMargins {
  margin: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.listingcardDesc {
  word-wrap: break-word;
}

.multiview {
  margin-left: 30%;
  margin-right: 30%;
}

.multiviewSearch {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 24px;
}

.toppartSpan {
  float: right;
  margin-top: 1%;
}

.toppartMain {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
  white-space: nowrap;
}

.toppartTitle {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  font-size: 250%;
  margin-right: 4%;
  float: left;
  margin-top: 0;
}

.toppartText {
  font-size: 125%;
  margin-right: 4%;
}

.toppartSpan:hover {
  /*color: #007bff;*/
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.toppartA {
  color: #47525e;
}

.soloview {
  margin-left: 5%;
  margin-right: 5%;
}

.soloviewTitle {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  font-size: 400%;
}

.soloviewArtist {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  font-size: 250%;
}

.soloviewDesc {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  max-width: 60%;
  margin-top: 1%;
  margin-bottom: 1%;
  word-wrap: break-word;
}

.soloviewUser {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  font-size: 175%;
}

.soloviewEmbed {
  float: right;
}

.soloviewMessageBtn {
  margin-left: 1%;
  background-color: rgba(0, 0, 255, 0.692);
  color: whitesmoke;
  padding: 2%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  border: 1px solid black;
}

.soloviewDeleteBtn {
  margin-left: 1%;
  background-color: red;
  color: whitesmoke;
  padding: 2%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  border: 1px solid black;
}

/*.soloviewTo {
  @include font-stack;
  margin: 2%;
}

.soloviewMsg {
  @include font-stack;
  margin: 2%;
}*/
.soloviewFormText {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  margin: 2%;
}

.soloviewMsgSendBtn {
  margin-left: 1%;
  background-color: rgba(0, 0, 255, 0.692);
  color: whitesmoke;
  padding: 2%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  border: 1px solid black;
  margin: 2%;
}

.createListing {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  margin: 10%;
  margin-top: 0;
}

.listingsubmitBtns {
  position: relative;
  padding-top: 60px;
  width: 40%;
  margin: 0 auto;
}

/*This holds the rules for both the Login and Register pages, since they're so similar.*/
.userform {
  color: #47525e;
  text-align: left;
  font-weight: bold;
}

.userformTitle {
  color: #47525e;
  text-align: left;
  font-weight: bold;
}

.dashboardBtnHolder {
  margin-left: 10%;
}

.dashboardBtn {
  margin-left: 1%;
  background-color: gray;
  color: whitesmoke;
  padding: 2%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  border: 1px solid black;
}

.listingboxMultiview {
  margin-left: 20%;
  margin-right: 30%;
}

.messageboxBox {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
}

.messageboxBtn {
  margin-left: 1%;
  background-color: whitesmoke;
  color: black;
  padding: 2%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  border: 1px solid black;
  margin-left: 5%;
  width: 90%;
  margin-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: left;
  margin-bottom: 1%;
}

.messageboxMsgs {
  max-height: 400px;
  overflow-y: scroll;
}

.messageSender {
  font-style: italic;
  font-weight: normal;
}

.messageSend {
  margin-left: 1%;
  background-color: blue;
  color: whitesmoke;
  padding: 2%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  border: 1px solid black;
}

.nothing {
  color: #47525e;
  text-align: left;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}

.admin {
  color: green;
  font-style: italic;
}

/*# sourceMappingURL=App.css.map */
