$good-color: #47525e;

@mixin font-stack {
  color: $good-color;
  text-align: left;
  font-weight: bold;
}

.toppartSpan {
  float: right;
  margin-top: 1%;
}

.toppartMain {
  @include font-stack;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
  white-space: nowrap;
}

.toppartTitle {
  @include font-stack;
  font-size: 250%;
  margin-right: 4%;
  float: left;
  margin-top: 0;
}

.toppartText {
  font-size: 125%;
  margin-right: 4%;
}

.toppartSpan:hover {
  /*color: #007bff;*/
  color: black;
  text-decoration: underline;
}

.toppartA {
  color: $good-color;
}
