@use 'ListingCard';
@use 'MultiView';
@use 'TopPart';
@use 'SoloView';
@use 'ListingSubmit';
@use 'LoginRegister';
@use 'Dashboard';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}

.admin {
  color: green;
  font-style: italic;
}
