@use 'ListingCard';
@use 'MultiView';
@use 'TopPart';
@use 'SoloView';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}
